$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$navbar-bg-clr: #273053;
$section-bg-clr: hsl(208, 100%, 97%);

$border-radius-sm: 10px;
$border-radius-md: 23px;
$border-radius-lg: 100px;

$custom-transition: all 0.3s;

$custom-border-clr: #dee2e6;
