.card {
  border-radius: $border-radius-md;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  overflow: hidden;

  &-header {
    @include flex(space-between, center);
    gap: 0.5rem;
    background-color: $navbar-bg-clr;
    color: #fff;
    padding: 20px 40px;

    h6 {
      font-size: 1.5rem;
    }
  }
  &-body {
    padding: 40px;

    ul {
      padding-left: 0;
      border-bottom: 1px solid $custom-border-clr;
    }

    li {
      // text-transform: capitalize;
      font-size: 1.125rem;
      color: #717275;
      margin-bottom: 1rem;
    }
    span {
      vertical-align: middle;
      margin-right: 0.25rem;
    }
  }
}
