picture,
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.section {
  padding-block: 30px;
  @include media-breakpoint-up(sm) {
    padding-block: 50px;
  }
  @include media-breakpoint-up(md) {
    padding-block: 80px;
  }
}

ul,
li {
  list-style: none;
}

em {
  font-style: normal;
}
